<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {%if page.name %}
    <title>{{page.name}}</title>
    {% endif %}
    {%if page.icon %}
    <link rel="icon"
        href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>{{page.icon}}</text></svg>">
    {% endif %}

    <meta http-equiv='cache-control' content='no-cache'>
    <meta http-equiv='expires' content='0'>
    <meta http-equiv='pragma' content='no-cache'>
    {%if page.css %}
    {% for url in page.css %}
    {% set href = url %}
    <link rel="stylesheet" type="text/css" href="{{href}}">
    {% endfor %}
    {% endif %}

    <link rel="stylesheet" type="text/css" href="/static/styles/shared.css">
    <link rel="stylesheet" type="text/css" href="/static/styles/chat.css">
</head>

<body>
    <main>
        <div class="popup-wrapper" id="loading-wrapper">
            <div class="lds-ellipsis">
                <div></div>
                <div></div>
                <div></div>
                <div></div>
            </div>
        </div>

        <br>

        <div class="content">
            <form id="mainForm" method="post" action="/submit">
                <div class="chat-container" id="chatbox">
                    {{form | safe}}
                </div>
            </form>
            <div id="response"></div>
            <p>
                <button class="button-primary" type="submit" form="mainForm" id="mainFormButton">Submit</button>
                <button type="submit" id="resetButton">Reset Chat</button>
                <button type="submit" id="homeButton">Return Home</button>
            </p>
        </div>

        <div id="popup-wrapper-1" class="popup-wrapper">
            <div class="popup">
                <div class="close-button">&times;</div>
                <h3 class="center">☀️ About</h3>
                <hr>
                {% if about.author %}
                <p>
                    Author: {{about.author}}
                    {% if about.profile %}
                    (<a id="profileLink" target="_blank" href="{{about.profile}}">profile</a>)
                    {% endif %}
                </p>
                {% endif %}
                {% if about.description %}
                <p>Description: {{about.description}}</p>
                {% endif %}
            </div>
        </div>

        <div id="popup-wrapper-2" class="popup-wrapper">
            <div class="popup">
                <div class="close-button">&times;</div>
                <h3 class="center">🛟 Help</h3>
                <hr>
                <div class="center">
                    {% if project.homepage %}
                    <a target="_blank" href="{{project.homepage}}">Homepage</a> |
                    {% endif %}
                    {% if project.license %}
                    <a target="_blank" href="{{project.license}}">License</a> |
                    {% endif %}
                    {% if project.issues %}
                    <a target="_blank" href="{{project.issues}}">Report an issue</a>
                    {% endif %}
                </div>
            </div>
        </div>

        <div id="popup-wrapper-3" class="popup-wrapper">
            <div class="popup">
                <div class="close-button">&times;</div>
                <h3 class="center">⚙️ LLM Settings</h3>
                <hr>
                <div class="center">
                    <form id="settingsForm" method="post" action="/settings">
                        <label for="model">Choose a model:</label>
                        <select id="model" name="model">
                            <option value="llama3">Ollama Llama 3</option>
                            <option value="gpt-3.5-turbo">OpenAI (gpt-3.5-turbo)</option>
                        </select>

                        <div id="openai-fields">
                            <label for="api-token">API Token:</label>
                            <input type="password" id="api-token" name="api-token" />
                        </div>

                        <div id="settingsResponse"></div>

                        <button type="submit">Submit</button>
                    </form>
                </div>
            </div>
        </div>

    </main>

    <footer class="center">
        <p>
            Powered by <a target="_blank" href="https://github.com/Cutwell/generative-ui"><code>Generative UI</code></a>
            |
            <a href="#" id="open-popup-1">☀️ About</a> |
            <a href="#" id="open-popup-2">🛟 Help</a> |
            <a href="#" id="open-popup-3">⚙️ LLM Settings</a>
        </p>
    </footer>

    <script src="/static/scripts/getGUID.js"></script>

    <script src="/static/scripts/loadingWrapperTriggers.js"></script>

    <script>
        const popupWrappers = document.querySelectorAll('.popup-wrapper');
        const popups = document.querySelectorAll('.popup');
        const closeButtons = document.querySelectorAll('.close-button');

        function openPopup(popupWrapper) {
            popupWrapper.style.display = 'block';
            document.body.style.overflow = 'hidden';
        }

        function closePopup(popupWrapper) {
            popupWrapper.style.display = 'none';
            document.body.style.overflow = 'auto';
        }

        popups.forEach(function (popup) {
            popup.addEventListener('click', function (event) {
                event.stopPropagation();
            });
        });

        popupWrappers.forEach(function (popupWrapper, index) {
            popupWrapper.addEventListener('click', function () {
                closePopup(popupWrapper);
            });

            closeButtons[index].addEventListener('click', function () {
                closePopup(popupWrapper);
            });
        });

        const popup1 = document.querySelector('#popup-wrapper-1');
        const popup2 = document.querySelector('#popup-wrapper-2');
        const popup3 = document.querySelector('#popup-wrapper-3');

        document.querySelector('#open-popup-1').addEventListener('click', function () {
            openPopup(popup1);
        });

        document.querySelector('#open-popup-2').addEventListener('click', function () {
            openPopup(popup2);
        });

        document.querySelector('#open-popup-3').addEventListener('click', function () {
            document.getElementById('settingsResponse').innerText = ""
            openPopup(popup3);
        });
    </script>

    <script src="/static/scripts/submitMainForm.js"></script>

    <script src="/static/scripts/updateSettings.js"></script>

    <script src="/static/scripts/menuTriggers.js"></script>
</body>

</html>