<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {%if page.name %}
    <title>{{page.name}}</title>
    {% endif %}
    {%if page.icon %}
    <link rel="icon"
        href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>{{page.icon}}</text></svg>">
    {% endif %}

    <meta http-equiv='cache-control' content='no-cache'>
    <meta http-equiv='expires' content='0'>
    <meta http-equiv='pragma' content='no-cache'>
    {%if page.css %}
    {% for url in page.css %}
    {% set href = url %}
    <link rel="stylesheet" type="text/css" href="{{href}}">
    {% endfor %}
    {% endif %}

    <link rel="stylesheet" type="text/css" href="/static/styles/shared.css">
    <link rel="stylesheet" type="text/css" href="/static/styles/chat.css">
</head>

<body>
    <main>
        <div class="popup-wrapper" id="loading-wrapper">
            <div class="lds-ellipsis">
                <div></div>
                <div></div>
                <div></div>
                <div></div>
            </div>
        </div>

        <br>

        <div class="content">
            <div class="chat-container" id="chatbox">
                {{chat | safe}}
            </div>
            <form id="mainForm" method="post" action="/submit">
                <div class="chat-input-container">
                    <textarea id="chatbot-input" name="message" class="chat-textarea" rows="1"
                        placeholder="Type here.."></textarea>

                    <button class="submit-btn button-primary" type="submit">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                            viewBox="0 0 16 16">
                            <path
                                d="M15.854.146a.5.5 0 0 1 .11.54l-5.819 14.547a.75.75 0 0 1-1.329.124l-3.178-4.995L.643 7.184a.75.75 0 0 1 .124-1.33L15.314.037a.5.5 0 0 1 .54.11ZM6.636 10.07l2.761 4.338L14.13 2.576zm6.787-8.201L1.591 6.602l4.339 2.76z">
                            </path>
                        </svg>
                    </button>
                </div>
            </form>
            <div id="response"></div>
            <p>
            </p>
        </div>

        <div class="button-menu-container">
            <button class="button-menu" id="homeButton">⌂ Return Home</button>
            <button class="button-menu" id="resetButton">↻ Reset Chat</button>
        </div>

        <div id="popup-wrapper-1" class="popup-wrapper">
            <div class="popup">
                <div class="close-button">&times;</div>
                <h3 class="center">☀️ About</h3>
                <hr>
                {% if about.author %}
                <p>
                    Author: {{about.author}}
                    {% if about.profile %}
                    (<a id="profileLink" target="_blank" href="{{about.profile}}">profile</a>)
                    {% endif %}
                </p>
                {% endif %}
                {% if about.description %}
                <p>Description: {{about.description}}</p>
                {% endif %}
            </div>
        </div>

        <div id="popup-wrapper-2" class="popup-wrapper">
            <div class="popup">
                <div class="close-button">&times;</div>
                <h3 class="center">🛟 Help</h3>
                <hr>
                <div class="center">
                    {% if project.homepage %}
                    <a target="_blank" href="{{project.homepage}}">Homepage</a> |
                    {% endif %}
                    {% if project.license %}
                    <a target="_blank" href="{{project.license}}">License</a> |
                    {% endif %}
                    {% if project.issues %}
                    <a target="_blank" href="{{project.issues}}">Report an issue</a>
                    {% endif %}
                </div>
            </div>
        </div>

        <div id="popup-wrapper-3" class="popup-wrapper">
            <div class="popup">
                <div class="close-button">&times;</div>
                <h3 class="center">⚙️ LLM Settings</h3>
                <hr>
                <div class="center">
                    <form id="settingsForm" method="post" action="/settings">
                        <label for="model">Choose a model:</label>
                        <select id="model" name="model">
                            <option value="llama3">Ollama Llama 3</option>
                            <option value="gpt-3.5-turbo">OpenAI (gpt-3.5-turbo)</option>
                        </select>

                        <div id="openai-fields">
                            <label for="api-token">API Token:</label>
                            <input type="password" id="api-token" name="api-token" />
                        </div>

                        <div id="settingsResponse"></div>

                        <button class="button-primary" type="submit">Submit</button>
                    </form>
                </div>
            </div>
        </div>

        <footer class="center footer-nav">
            <p>
                Powered by <a target="_blank"
                    href="https://github.com/Cutwell/generative-ui"><code>Generative UI</code></a>
                |
                <a href="#" id="open-popup-1">☀️ About</a> |
                <a href="#" id="open-popup-2">🛟 Help</a> |
                <a href="#" id="open-popup-3">⚙️ LLM Settings</a>
            </p>
        </footer>

    </main>

    <script src="/static/scripts/loadGUID.js"></script>

    <script src="/static/scripts/chatControls.js"></script>

    <script src="/static/scripts/updateSettings.js"></script>

    <script src="/static/scripts/resetButton.js"></script>

    <script src="/static/scripts/homeButton.js"></script>

    <script src="/static/scripts/popups.js"></script>

    <script>
        const popup1 = document.querySelector('#popup-wrapper-1');
        const popup2 = document.querySelector('#popup-wrapper-2');
        const popup3 = document.querySelector('#popup-wrapper-3');


        document.querySelector('#open-popup-1').addEventListener('click', function () {
            openPopup(popup1);
        });

        document.querySelector('#open-popup-2').addEventListener('click', function () {
            openPopup(popup2);
        });

        document.querySelector('#open-popup-3').addEventListener('click', function () {
            openPopup(popup3);
        });
    </script>
</body>

</html>