<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {%if page.name %}
    <title>{{page.name}}</title>
    {% endif %}
    {%if page.icon %}
    <link rel="icon"
        href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>{{page.icon}}</text></svg>">
    {% endif %}

    <meta http-equiv='cache-control' content='no-cache'>
    <meta http-equiv='expires' content='0'>
    <meta http-equiv='pragma' content='no-cache'>
    {%if page.css %}
    {% for url in page.css %}
    {% set href = url %}
    <link rel="stylesheet" type="text/css" href="{{href}}">
    {% endfor %}
    {% endif %}

    <link rel="stylesheet" type="text/css" href="/static/styles/shared.css">
    <link rel="stylesheet" type="text/css" href="/static/styles/index.css">
</head>

<body>
    <main>
        <br>

        <div class="container">
            <div class="content">
                <div class="logo">🪶💬</div>
                <h2 class="main-header">"Honk", <i class="goosegreen">welcomingly.</i></h2>
                <p class="main-subheader">"Honk", <i>explaining.</i></p>
                <button class="cta-button" id="demoButton">"Honk", <i>inviting.</i></button>
            </div>
        </div>

        <div id="popup-wrapper-1" class="popup-wrapper">
            <div class="popup">
                <div class="close-button">&times;</div>
                <h3 class="center">☀️ About</h3>
                <hr>
                {% if about.author %}
                <p>
                    Author: {{about.author}}
                    {% if about.profile %}
                    (<a id="profileLink" target="_blank" href="{{about.profile}}">profile</a>)
                    {% endif %}
                </p>
                {% endif %}
                {% if about.description %}
                <p>Description: {{about.description}}</p>
                {% endif %}
            </div>
        </div>

        <div id="popup-wrapper-2" class="popup-wrapper">
            <div class="popup">
                <div class="close-button">&times;</div>
                <h3 class="center">🛟 Help</h3>
                <hr>
                <div class="center">
                    {% if project.homepage %}
                    <a target="_blank" href="{{project.homepage}}">Homepage</a> |
                    {% endif %}
                    {% if project.license %}
                    <a target="_blank" href="{{project.license}}">License</a> |
                    {% endif %}
                    {% if project.issues %}
                    <a target="_blank" href="{{project.issues}}">Report an issue</a>
                    {% endif %}
                </div>
            </div>
        </div>

    </main>

    <footer class="center">
        <p>
            Powered by <a target="_blank" href="https://github.com/Cutwell/generative-ui"><code>Generative UI</code></a>
            |
            <a href="#" id="open-popup-1">☀️ About</a> |
            <a href="#" id="open-popup-2">🛟 Help</a>
        </p>
    </footer>

    <script src="/static/scripts/demoButton.js"></script>

    <script src="/static/scripts/popups.js"></script>

    <script>
        const popup1 = document.querySelector('#popup-wrapper-1');
        const popup2 = document.querySelector('#popup-wrapper-2');

        document.querySelector('#open-popup-1').addEventListener('click', function () {
            openPopup(popup1);
        });

        document.querySelector('#open-popup-2').addEventListener('click', function () {
            openPopup(popup2);
        });
    </script>
</body>

</html>