.container {
    width: 80%;
    margin: 0 auto;
    text-align: center;
    padding: 20px;
}

.logo {
    font-size: 3em;
}

.content {
    margin: 40px 0;
}

.content h2 {
    font-size: 2em;
}
.deepskyblue {
    color: deepskyblue;
}

.content p {
    font-size: 1.2em;
    line-height: 1.6;
}

button {
    background-color: skyblue;
    color: white;
    padding: 15px 25px;
    font-size: 1.2em;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
}

button:hover {
    background-color: deepskyblue;
}

.thought {
    display: flex;
    background-color: skyblue;
    padding: 20px;
    border-radius: 30px;
    min-width: 40px;
    max-width: 220px;
    min-height: 40px;
    margin: 20px;
    position: relative;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.thought:before,
.thought:after {
    content: "";
    background-color: skyblue;
    border-radius: 50%;
    display: block;
    position: absolute;
    z-index: -1;
}

.thought:before {
    width: 44px;
    height: 44px;
    top: -12px;
    left: 28px;
    box-shadow: -50px 30px 0 -12px skyblue;
}

.thought:after {
    bottom: -10px;
    right: 26px;
    width: 30px;
    height: 30px;
    box-shadow: 40px -34px 0 0 skyblue,
        -28px -6px 0 -2px skyblue,
        -24px 17px 0 -6px skyblue,
        -5px 25px 0 -10px skyblue;

}